*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: tahoma,sans-serif;
    background: #f8f9fb;
}
.wrapper{
    overflow: hidden;
    min-height: 100%;
    margin:0 auto -200px;
}
a{
;text-decoration: none;
}
.container{
    width: 1048px;
    margin: 0 auto ;
}
/*header*/
header{
    overflow: hidden;
    width: auto;
    height: 56px;
    margin: 0;
    background: rgba(0, 0, 0, .8);
}
.header_left{
    float: left;
}
.navbar_brand{
    display:block;
    margin: 8px 0 0 0;
}
.header_right{
    float: right;
}
.top-space{
    margin-top: 20px;
}
/*article*/
.login_intro{
    float: left;
    width: 720px;
    height: auto;
    padding-bottom: 43px;
}
.login_intro_title p{
    font-size: 32px;
}
.login_intro_content{
    margin-top: 20px;
}
.login_intro_content_img{
    width: 720px;
    height: 350px;
    background: url(../images/bg.jpg) no-repeat center center;
    background-size: cover;
}
.login_intro_content_article{
    padding: 10px;
    margin-top: 20px;
}
.login_intro_content_article p{
    margin: 5px 0;
    font-size: 12px;
    line-height: 150%;
}
.login_intro_content_article h3{
    padding: 10px 0;
    margin: 10px 0 10px;
    font-size: 15px;
    line-height: 18px;
    color: #838485;
    border-width: 1px 0 0 0;
    border-style: dotted;
    border-color: #999;
}
/*aside*/
.login_content{
    float: right;
    width: 260px;
    height: auto;
}
.login_content_title{
    width: 260px;
    height: 40px;
    padding: 10px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #999;
}
.login_content_title p{
    font-size: 12px;
    line-height: 150%;
}
.login_content_form{
    overflow: hidden;
    width: 260px;
    height: auto;
    padding: 10px;
    margin: 20px 0 0 0;
    border: 1px solid #838485;
    background-color: #838485;
}
.login_content_form input{
    float: left;
    width: 250px;
    height: 33px;
    padding: 0 5px;
    margin-top: 10px;
    border-radius: 3px;
    background-color: #f6f8ff;
    border-width: 0;
}
.login_content_form_notice{
    margin:5px 0;
    padding:2px;
    font-size: 12px;
    color: #fff;
}
#btn{
    float: left;
    width: 260px;
    height: 33px;
    padding: 0 5px;
    margin-top: 10px;
    color: #fff;
    border: 2px solid #ffa800;
    border-radius: 3px;
    background-color: #ffa800;
    cursor: pointer;
}
.push{
    clear:both;
    height: 200px;
}
/*footer*/
footer{
    clear: both;
    width: 100%;
    height: 173px;
    background: #838485;
    margin-top: 37px;
    color: #f3f3f5;
}
.footer_container{
    overflow: hidden;
    padding-top: 60px;
}
.footer_logo{
    float:left;
    margin: 0 auto;
}
.footer_txt{
    float: left;
    margin: -10px 0 0 20px;
    font-size: 14px;
    line-height: 27px;
}
.footer_txt a{
    font-size: 14px;
    color: #fff;
}
.footer_wechat{
    float: right;
    margin: -40px 0 0 30px;
}
.footer_wechat img{
    width: 96px;
    height: 96px;
}
.footer_wechat p{
    margin-top: 5px;
    font-size: 10px;
    line-height: 15px;
}